<launch>
  <node pkg="jsk_2020_10_semi" type="demo_amabe_remote.l" name="amabe_remote"
    output="screen" />
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial_python_node" />
  <node pkg="rostopic" type="rostopic" name="listener"
        args="echo /pressure" />
  <node pkg="image_view2" type="image_view2" name="image_view2_for_draw_force_on_image" output="log">
    <remap from="image" to="/head_camera/rgb/image_raw"/>
    <remap from="image_marker" to="/head_camera/rgb/image_marker"/>
    <param name="use_window" value="false"/>
   </node>
  <node pkg="jsk_2020_10_semi" type="announcement.l" name="iv2" ns="/head_camera/rgb/"/>
</launch>
