<launch>
  <arg name="INPUT" default="/timer_cam_image"/>
  <arg name="debug_view" default="false"/>
  
  <group ns="hole">>
    <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
      <arg name="image" value="$(arg INPUT)"/>
      <arg name="h_limit_max" default="261"/>
      <arg name="h_limit_min" default="189"/>
      <arg name="s_limit_max" default="239"/>
      <arg name="s_limit_min" default="80"/>
      <arg name="v_limit_max" default="228"/>
      <arg name="v_limit_min" default="124"/>
    </include>

    <include file="$(find opencv_apps)/launch/hough_circles.launch">
      <arg name="image" value="hsv_color_filter/image"/>
      <arg name="min_circle_radius" value="15"/>
      <arg name="max_circle_radius" value="50"/>
      <arg name="debug_view" value="$(arg debug_view)"/>
    </include>
  </group>

  <group ns="screw">
    <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
      <arg name="image" value="$(arg INPUT)"/>
      <arg name="h_limit_max" default="27"/>
      <arg name="h_limit_min" default="345"/>
      <arg name="s_limit_max" default="162"/>
      <arg name="s_limit_min" default="34"/>
      <arg name="v_limit_max" default="173"/>
      <arg name="v_limit_min" default="98"/>
    </include>

    <include file="$(find opencv_apps)/launch/general_contours.launch">
      <arg name="image" value="hsv_color_filter/image"/>
      <arg name="debug_view" value="$(arg debug_view)"/>
    </include>
  </group>
  
</launch>
  
