<launch>
  <arg name="INPUT" default="/timer_cam2/timer_cam_image/image_rect_color"/>
  <arg name="gui" default="true" />
  <param name="/use_sim_time" value="true" />

  <group ns="timer_cam2_rec">
	<node name="background_subtraction"
		  pkg="jsk_perception" type="background_substraction">
	  <remap from="~image" to="$(arg INPUT)" />
	</node>

	<include file="$(find opencv_apps)/launch/threshold.launch">
      <arg name="image" value="background_subtraction/output"/>
      <arg name="threshold" value="100"/>
	</include>

	<include file="$(find opencv_apps)/launch/smoothing.launch">
      <arg name="image" value="threshold/image"/>
	  <arg name="kernel_size" value="3"/>
	</include>

	<include file="$(find opencv_apps)/launch/hough_lines.launch">
      <arg name="image" value="smoothing/image"/>
	  <arg name="threshold" value="95"/>
	</include>

	<group if="$(arg gui)">
	  <node name="image_view_fg"
			pkg="image_view" type="image_view">
		<remap from="image" to="background_subtraction/output"/>
	  </node>
	</group>
  </group>

</launch>
