<launch>
  <arg name="INPUT" default="/timer_cam2/timer_cam_image/image_rect_color"/>
  <arg name="gui" default="true" />
  <arg name="debug_view" default="true" />
  <param name="/use_sim_time" value="true" />

  <group ns="timer_cam2_rec">
	<group ns="memory">
	  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
		<arg name="image" value="$(arg INPUT)"/>
		<arg name="h_limit_max" default="84"/>
		<arg name="h_limit_min" default="45"/>
		<arg name="s_limit_max" default="143"/>
		<arg name="s_limit_min" default="43"/>
		<arg name="v_limit_max" default="256"/>
		<arg name="v_limit_min" default="52"/>
	  </include>

	  <include file="$(find opencv_apps)/launch/general_contours.launch">
		<arg name="image" value="hsv_color_filter/image"/>
		<arg name="debug_view" value="$(arg debug_view)"/>
      </include>

	  <include file="$(find opencv_apps)/launch/hough_lines.launch">
		<arg name="image" value="hsv_color_filter/image"/>
		<arg name="hough_type" value="1" />
		<arg name="threshold" value="75"/>
		<arg name="rho" value="4.0"/>
	  </include>

	  <group if="$(arg gui)">
		<node name="image_view_fg"
			  pkg="image_view" type="image_view">
		  <remap from="image" to="background_subtraction/output"/>
		</node>
	  </group>
	</group>
	<group ns="socket">
	  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
		<arg name="image" value="$(arg INPUT)"/>
		<arg name="h_limit_max" default="174"/>
		<arg name="h_limit_min" default="104"/>
		<arg name="s_limit_max" default="193"/>
		<arg name="s_limit_min" default="40"/>
		<arg name="v_limit_max" default="256"/>
		<arg name="v_limit_min" default="73"/>
	  </include>

	  <include file="$(find opencv_apps)/launch/general_contours.launch">
		<arg name="image" value="hsv_color_filter/image"/>
		<arg name="debug_view" value="$(arg debug_view)"/>
      </include>
	</group>

	<node name="add_mask_image"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_perception/AddMaskImage sample_manager"
          respawn="true" >
      <remap from="~input/src1" to="memory/hsv_color_filter/image" />
      <remap from="~input/src2" to="socket/hsv_color_filter/image" />
	</node>

	<node name="apply_mask_image"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_perception/ApplyMaskImage"
          respawn="true" >
      <remap from="~input" to="$(arg INPUT)" />
      <remap from="~input/mask" to="add_mask_image/output" />
      <rosparam>
        approximate_sync: true
        clip: false
      </rosparam>
	</node>

	<node name="pub_memory_edge" pkg="assemble_table_pr2" type="pub_memory_edge.py" />
  </group>
</launch>
