<launch>
  <arg name="save_dir" default="/tmp/timer_cam2"/>
  <arg name="bagfile_prefix" default="data" />
  <arg name="camera_namespace" default="camera" />
  <arg name="save_openni" default="false" />
  <arg name="save_robot_model" default="false" />
  <arg name="save_all_image" default="false" />
  <arg name="save_multisense" default="false" />
  <arg name="other_topics" default=""/>
  <arg name="quiet" default="true"/>
  <arg name="machine" default="localhost" />

  <include file="$(find jsk_data)/launch/common_record.launch">
    <arg name="camera_namespace" value="$(arg camera_namespace)" />
    <arg name="save_openni2" value="$(arg save_openni)" />
    <arg name="save_openni" value="false" />
    <arg name="save_robot_model" value="$(arg save_robot_model)" />
    <arg name="save_all_image" value="$(arg save_all_image)" />
    <arg name="save_multisense" value="$(arg save_multisense)" />
    <arg if = "$(arg quiet)" name="other_options" value="-q"/>
    <arg name="other_topics" value="$(arg other_topics)
                                    /timer_cam2/timer_cam_image/image_rect_color
                                    " />
    <arg name="save_dir" value="$(arg save_dir)" />
    <arg name="bagfile_prefix" value="$(arg bagfile_prefix)" />
    <arg name="machine" value="$(arg machine)" />
  </include>

</launch>
