<launch>

  <arg name="input_cloud"
       default="/camera/depth_registered/points" />
  <arg name="filtered_cloud" 
      default="/voxelgrid/output" />
  <arg name="manager" default="/camera/realsense2_camera_manager" />
  <arg name="filtered_cloud"
       default="$(arg input_cloud)" />

  <group ns="plane_extraction">

    <node name="attention_clipper"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager)">
      <remap from="~input/points" to="$(arg input_cloud)" />
      <rosparam>
        frame_id: camera_color_optical_frame
        use_multiple_attention: false
        dimension_x: 1.0
        dimension_y: 1.0
        dimension_z: 1.0
        initial_pos: [0.0, 0.0, 0.5]
      </rosparam>
    </node>

    <node name="extract_indices"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager)">
      <remap from="~input" to="$(arg input_cloud)" />
      <remap from="~indices" to="attention_clipper/output/point_indices" />
      <rosparam>
        keep_organized: true
      </rosparam>
    </node>

    <node name="plane_segmentation"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg manager)"
          clear_params="true" >
      <remap from="~input" to="$(arg filtered_cloud)" />
      <remap from="~output_refined" to="plane_cluster_indices" />
      <remap from="~output_refined_polygon" to="plane_polygons" />
      <remap from="~output_refined_coefficients" to="plane_coefficients" />

      <param name="~min_size" value="500" />
      <param name="~max_curvature" value="0.01" />
      <param name="~distance_threshold" value="0.03" />
      <param name="~angular_threshold" value="0.05" />
      <param name="~connect_plane_angle_threshold" value="0.1" />
    </node>

    <node name="plane_normal_filter"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/PlaneRejector $(arg manager)">
      <remap from="~input_polygons" to="plane_polygons" />
      <remap from="~input_coefficients" to="plane_coefficients" />
      <remap from="~input_inliers" to="plane_cluster_indices" />
      <remap from="~output_polygons" to="filtered_plane_polygons" />
      <remap from="~output_coefficients" to="filtered_plane_coefficients" />
      <remap from="~output_inliers" to="filtered_plane_cluster_indices" />

      <param name="~processing_frame_id" value="map" />
      <param name="~use_inliers" value="true" />
      <param name="~arrow_flip" value="false" />
      <rosparam param="reference_axis">[1, 0, 0]</rosparam>
      <rosparam>
        angle: 0.0
        angle_thr: 0.17
      </rosparam>
    </node>

    <node name="plane_decomposer"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)">
      <remap from="~input" to="$(arg filtered_cloud)" />
      <remap from="~target" to="filtered_plane_cluster_indices" />
      <remap from="~negative_indices" to="not_plane_indices" />
      <rosparam>
        fill_boxes_label_with_nearest_plane_index: true
      </rosparam>
    </node>

    <node name="not_plane_extraction"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ExtractIndices $(arg manager)">
      <remap from="~input" to="$(arg filtered_cloud)" />
      <remap from="~indices" to="not_plane_indices" />
      <remap from="~output" to="not_plane_cloud" />
      <rosparam>
        keep_organized: true
      </rosparam>
    </node>

    <node name="on_plane_extraction"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/MultiPlaneExtraction $(arg manager)">
      <remap from="~input" to="not_plane_cloud" />
      <remap from="~indices" to="filtered_plane_cluster_indices" />
      <remap from="~input_polygons" to="filtered_plane_polygons" />
      <remap from="~input_coefficients" to="filtered_plane_coefficients" />
      <remap from="~output" to="on_plane_cloud" />

      <param name="~min_height" value="0.01" />
      <param name="~max_height" value="0.3" />
      <param name="~use_indices" value="false" />
      <param name="~use_coefficients" value="true" />
    </node>

    <node name="on_plane_clustering"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg manager)">
      <remap from="~input" to="on_plane_cloud" />
      <remap from="~output" to="on_plane_cluster_indices" />
      <param name="~min_size" value="20" />
      <param name="~tolerance" value="0.02" />
      <rosparam>
        downsample_enable: true
      </rosparam>
    </node>

    <node name="on_plane_decomposer"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg manager)">
      <remap from="~input" to="on_plane_cloud" />
      <remap from="~target" to="on_plane_cluster_indices" />
      <remap from="~align_planes" to="filtered_plane_polygons" />
      <remap from="~align_planes_coefficients" to="filtered_plane_coefficients" />
      <remap from="~boxes" to="on_plane_boxes" />

      <param name="~align_boxes" value="true" />
      <param name="~align_boxes_with_plane" value="true" />
      <param name="~use_pca" value="true" />
      <rosparam>
        fill_boxes_label_with_nearest_plane_index: true
      </rosparam>
    </node>

    <node name="box_filter"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/BoundingBoxFilter $(arg manager)">
      <remap from="~input_box" to="on_plane_boxes" />
      <remap from="~output_box" to="on_plane_handle_size_boxes" />
      <param name="~with_indices" value="false" />
      <param name="~use_x_dimension" value="true" />
      <param name="~use_y_dimension" value="true" />
      <param name="~use_z_dimension" value="true" />
      <param name="~x_dimension_min" value="0.00" />
      <param name="~x_dimension_max" value="0.20" />
      <param name="~y_dimension_min" value="0.00" />
      <param name="~y_dimension_max" value="0.20" />
      <param name="~z_dimension_min" value="0.00" />
      <param name="~z_dimension_max" value="0.20" />
    </node>

    <node name="bounding_box_marker"
          pkg="jsk_interactive_marker" type="bounding_box_marker"
	        output="screen" >
      <remap from="~bounding_box_array" to="on_plane_handle_size_boxes" />
    </node>

    <node name="polygon_marker"
          pkg="jsk_interactive_marker"
          type="polygon_marker"
          output="screen" >
      <remap from="~polygon_array" to="plane_segmentation/output_polygon" />
    </node>

    <node name="polygons_to_rects"
          pkg="jsk_recognition_utils" type="polygon_array_to_box_array.py"
          output="screen" >
      <remap from="~input/polygons" to="filtered_plane_polygons" />
      <remap from="~input/coefficients" to="filtered_plane_coefficients" />
    </node>

  </group>  <!-- end of plane_extraction namespace-->
</launch>
