<launch>
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="start" doc="start time" />
  <arg name="range" doc="time range" />
  <arg name="create_manager" default="true" />
  <arg name="manager" default="realsense2_camera_manager" />
  <arg name="device" default="module_0" />
  
  <rosparam param="/use_sim_time">
    true
  </rosparam>
  
  <node name="rosbag_play" pkg="rosbag" type="play"
        args="$(arg rosbag) -s $(arg start) -u $(arg range) -l --clock"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_device_view)/cfg/rviz/module_0.rviz"/>

  <group ns="$(arg device)">
    <node if="$(arg create_manager)"
          pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="screen" />
  </group>
  
  <node name="republish" pkg="image_transport" type="republish" args="compressed raw">
    <remap from="in" to="/$(arg device)/color/image_rect_color" />
    <remap from="out" to="/$(arg device)/color/image_rect_color" />
  </node>

  <node name="depth_image_republish" pkg="image_transport" type="republish" args="compressedDepth raw">
    <remap from="in" to="/camera/aligned_depth_to_color/image_raw" />
    <remap from="out" to="/camera/aligned_depth_to_color/image_raw" />
  </node>

</launch>
