<launch>

  <arg name="gui" default="true" />

  <arg name="INPUT_CLOUD" value="/kinect_head/depth_registered/throttled/points" />

  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      initial_pos: [0.0, 0.1, 1.1]
      initial_rot: [-0.3, 0, 0.0]
      dimension_x: 1.0
      dimension_y: 0.7
      dimension_z: 0.6
      frame_id: head_mount_kinect_rgb_optical_frame
    </rosparam>
  </node>

  <node name="extract_indices"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
    <remap from="~output" to="attention_table/output/pointcloud" />
  </node>

  <include file="$(find assemble_table_pr2)/launch/leg_color_filter.launch" />

</launch>
