<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="manager" default="/camera/realsense2_camera_manager" />

  <!-- <arg name="driver_h_max" default="127" /> -->
  <!-- <arg name="driver_h_min" default="67" /> -->
  <!-- <arg name="driver_s_max" default="209" /> -->
  <!-- <arg name="driver_s_min" default="30" /> -->
  <!-- <arg name="driver_i_max" default="163" /> -->
  <!-- <arg name="driver_i_min" default="50" /> -->

  <arg name="driver_h_max" default="-15" />
  <arg name="driver_h_min" default="-128" />
  <arg name="driver_s_max" default="100" />
  <arg name="driver_s_min" default="10" />
  <arg name="driver_i_max" default="70" />
  <arg name="driver_i_min" default="10" />

  <arg name="screw_h_max" default="55" />
  <arg name="screw_h_min" default="-40" />
  <arg name="screw_s_max" default="128" />
  <arg name="screw_s_min" default="15" />
  <arg name="screw_i_max" default="120" />
  <arg name="screw_i_min" default="40" />

  <arg name="hole_h_max" default="0" />
  <arg name="hole_h_min" default="-83" />
  <arg name="hole_s_max" default="188" />
  <arg name="hole_s_min" default="0" />
  <arg name="hole_i_max" default="196" />
  <arg name="hole_i_min" default="54" />

  <arg name="INPUT_CLOUD" value="/remote/camera/depth_registered/points" />
  <arg name="CLIPPED_CLOUD" value="/attention_clipper/output" />

  <node name="attention_clipper"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/AttentionClipper $(arg manager)">
      <remap from="~input/points" to="$(arg INPUT_CLOUD)" />
      <rosparam>
        frame_id: camera_color_optical_frame
        use_multiple_attention: false
        dimension_x: 0.1
        dimension_y: 0.1
        dimension_z: 0.15
        initial_pos: [0.0, 0.0, 0.075]
      </rosparam>
  </node>

  <node name="extract_indices"
        pkg="jsk_pcl_ros" type="extract_indices">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
  </node>

  <group ns="driver">
    <node name="hsi_color_filter"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/HSIColorFilter $(arg manager)">
      <remap from="~input" to="/extract_indices/output" />
      <rosparam>
        use_indices: false
        keep_organized: true
      </rosparam>
      <param name="h_limit_max" value="$(arg driver_h_max)" />
      <param name="h_limit_min" value="$(arg driver_h_min)" />
      <param name="s_limit_max" value="$(arg driver_s_max)" />
      <param name="s_limit_min" value="$(arg driver_s_min)" />
      <param name="i_limit_max" value="$(arg driver_i_max)" />
      <param name="i_limit_min" value="$(arg driver_i_min)" />
    </node>
    
    <node name="euclidean_clustering"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg manager)"
          output="screen">
      <remap from="~input" to="hsi_color_filter/output" />
      <param name="tolerance" value="0.002" />
      
    </node>

    <node name="euclidean_clustering_decomposer"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg manager)"
          output="screen">
      <remap from="~input" to="hsi_color_filter/output" />
      <remap from="~target" to="euclidean_clustering/output" />
    </node>

    <node name="line_segment_detector"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/LineSegmentDetector $(arg manager)"
          output="screen">
      <!-- <remap from="~input" to="$(arg FILTERED_CLOUD)" /> -->
      <!-- <remap from="~input_indices" to="/euclidean_clustering/output" /> -->
      <remap from="~input" to="/extract_indices/output" />
      <remap from="~input_indices" to="euclidean_clustering/output" />
      <rosparam>
        outlier_threshold: 0.02
        max_iteration: 1000
        min_indices: 10
        min_length: 0.01
        line_width: 0.003
        approximate_sync: true
        queue_size: 10
      </rosparam>
    </node>
  </group>

  <group ns="screw">
    <node name="hsi_color_filter"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/HSIColorFilter $(arg manager)">
      <remap from="~input" to="/extract_indices/output" />
      <rosparam>
        use_indices: false
        keep_organized: true
      </rosparam>
      <param name="h_limit_max" value="$(arg screw_h_max)" />
      <param name="h_limit_min" value="$(arg screw_h_min)" />
      <param name="s_limit_max" value="$(arg screw_s_max)" />
      <param name="s_limit_min" value="$(arg screw_s_min)" />
      <param name="i_limit_max" value="$(arg screw_i_max)" />
      <param name="i_limit_min" value="$(arg screw_i_min)" />
    </node>

    <node name="euclidean_clustering"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/EuclideanClustering $(arg manager)"
          output="screen">
      <remap from="~input" to="hsi_color_filter/output" />
      <param name="tolerance" value="0.002" />
      
    </node>

    <node name="euclidean_clustering_decomposer"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg manager)"
          output="screen">
      <remap from="~input" to="hsi_color_filter/output" />
      <remap from="~target" to="euclidean_clustering/output" />
    </node>

    <node name="line_segment_detector"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/LineSegmentDetector $(arg manager)"
          output="screen">
      <remap from="~input" to="/extract_indices/output" />
      <remap from="~input_indices" to="euclidean_clustering/output" />
      <rosparam>
        outlier_threshold: 0.02
        max_iteration: 1000
        min_indices: 10
        min_length: 0.005
        line_width: 0.005
        approximate_sync: true
        queue_size: 10
      </rosparam>
    </node>
  </group>

  <group ns="hole">
    <node name="hsi_color_filter"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/HSIColorFilter $(arg manager)">
      <remap from="~input" to="/extract_indices/output" />
      <rosparam>
        use_indices: false
        keep_organized: true
      </rosparam>
      <param name="h_limit_max" value="$(arg hole_h_max)" />
      <param name="h_limit_min" value="$(arg hole_h_min)" />
      <param name="s_limit_max" value="$(arg hole_s_max)" />
      <param name="s_limit_min" value="$(arg hole_s_min)" />
      <param name="i_limit_max" value="$(arg hole_i_max)" />
      <param name="i_limit_min" value="$(arg hole_i_min)" />
    </node>

    <node name="torus_finder"
          pkg="nodelet" type="nodelet"
          args="standalone jsk_pcl/TorusFinder">
      <remap from="~input" to="hsi_color_filter/output" />
      <rosparam>
        min_radius: 0.005
        max_radius: 0.05
        use_hint: false
        outlier_threshold: 0.01
      </rosparam>
    </node>
  </group>
  
  <group if="$(arg gui)">
    <node name="rviz"
          pkg="rviz" type="rvi"
          args="-d $(find jsk_pcl_ros)/sample/rviz/line_segment_detector.rviz"/>
  </group>
</launch>
