<launch>
  <node pkg="tf" type="static_transform_publisher" name="screw_hole_induced_broadcaster" args="-0.0105 -0.0065 -0.0025 0 -1.57 0 servo screw_hole_induced 100" />

  <node pkg="tf" type="static_transform_publisher" name="screw_hole_induced_pre_broadcaster" args="-0.0125 -0.0065 -0.0025 0 -1.57 0 servo screw_hole_induced_pre 100" />

  <node pkg="tf" type="static_transform_publisher" name="arm_grasp_pre_broadcaster" args="-0.06170383434303517 -0.11070646820680174 -0.012565248912018934 0.6351852531390625 0.25060238156176395 -0.1965091196784996 -0.7036491799520188 servo arm_grasp_pre_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="arm_grasp_broadcaster" args="-0.024960961392384462 -0.06966658628016287 -0.009734859390535089 0.6728733519534071 0.14059079031249036 -0.15288002152338398 -0.7100022836812094 servo arm_grasp_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="r_hand_front_broadcaster" args="0.0195 0.0065 0.0136 1.57 0 0 r_gripper_r_finger_tip_link r_gripper_front 100" />

  

  <node name="tf_publisher" pkg="dynamic_tf_publisher"
        type="tf_publish.py"  output="screen">
    <rosparam>
      use_cache: false
    </rosparam>
  </node>
  
  <include file="$(find multi_device_view)/launch/recognition/apriltag.launch"/>

  <include file="$(find virtual_force_publisher)/launch/dualarm_virtual_force_publisher.launch"/>

  </launch>
