<launch>
  <arg name="DEVICE" default="module_0"/>
  <arg name="debug_view" default="false"/>

  <group ns="$(arg DEVICE)">
    <group ns="upper_arm_hole">
      <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
      <arg name="image" value="/$(arg DEVICE)/color/image_rect_color"/> 
      <arg name="h_limit_max" default="340"/>
      <arg name="h_limit_min" default="0"/>
      <arg name="s_limit_max" default="256"/>
      <arg name="s_limit_min" default="20"/>
      <arg name="v_limit_max" default="80"/>
      <arg name="v_limit_min" default="0"/>
      <arg name="debug_view" default="$(arg debug_view)"/>
    </include>
      
      <include file="$(find opencv_apps)/launch/morphology.launch">
        <arg name="image" value="diff_image" />
        <arg name="morph_operator" value="1" />
        <arg name="morph_size" value="5" />
	<arg name="debug_view" default="$(arg debug_view)"/>
      </include>
      
      <include file="$(find opencv_apps)/launch/general_contours.launch">
        <arg name="image" value="morphology/image"/>
        <arg name="debug_view" default="$(arg debug_view)"/>
      </include>

    </group>
    
    <group ns="upper_arm_hole_pre">
      
      <include file="$(find opencv_apps)/launch/hsv_color_filter.launch">
        <arg name="image" value="/$(arg DEVICE)/color/image_rect_color"/> 
        <arg name="h_limit_max" default="300"/>
		<arg name="h_limit_min" default="85"/>
		<arg name="s_limit_max" default="255"/>
		<arg name="s_limit_min" default="25"/>
		<arg name="v_limit_max" default="70"/>
		<arg name="v_limit_min" default="0"/>
		<arg name="debug_view" default="$(arg debug_view)"/>
      </include>

      <node name="depth_image_filter"
            pkg="jsk_perception" type="depth_image_filter.py"
            clear_params="true"
            output="screen" >
        <remap from="~input" to="/$(arg DEVICE)/depth/image_rect_raw"/>
        <rosparam subst_value="true">
          threshold: 0.13
        </rosparam>
      </node>

      <node name="multiply_mask_image"
            pkg="jsk_perception" type="multiply_mask_image">
        <remap from="~input/src1" to="depth_image_filter/output/mask" />
        <remap from="~input/src2" to="hsv_color_filter/image" />
        <rosparam>
          approximate_sync: true
        </rosparam>
      </node>      

    </group>
  </group>
</launch>
